@media screen and (max-width: 994px) {
  .jumbotron h1 {
    font-size: 25px;
  }
  .jumbotron p {
    font-size: 16px;
  }
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
.btn {
  border-radius: 15px;
}
section {
  padding-top: 5rem;
}
